<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about_us</title>
    <link rel="stylesheet" href="abouts3.css">
    <script src="https://kit.fontawesome.com/35af595706.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo"><i class="fa-solid fa-star"></i>maha akshaya sivam trust</a>
        <nav class="navbar">
                <a href="#">home</a>
                <a href="#">about us</a>
                <a href="#">our services</a>
                <a href="#">get involved</a>
                <a href="#">causes</a>
                <a href="#">FAQ's</a>
                <a href="#">contact us</a>
                <div class="btn">
                <a href="#" class="btn">donate now</a>
                </div>
        </nav>
    </header>
    <div class="top">
        <h1>Overview of the Spiritual Leaders who Inspired the Trust</h1>
        <h3>“Guiding Lights of Compassion and Wisdom”</h3>
        <p><b>Maha Akshaya Sivam Trust draws its inspiration and values from the profound teachings and ideals of revered spiritual leaders, who have illuminated the path of compassion, wisdom, and selfless service. These guiding lights have left an indelible mark on the trust's mission and have become beacons of inspiration for those involved in its transformative journey.</b></p>
    </div>
    <div class="content">
       <h1> 1. Kanchi Maha Periva </h1>
       <p>Kanchi Maha Periva, also known as Sri Chandrasekharendra Saraswathi Swamigal, was an eminent spiritual leader and the 68th Jagadguru Shankaracharya of the Kanchi Kamakoti Peetham. His teachings emphasized the importance of compassion, harmony, and unity among all beings. His wisdom and humility continue to resonate through the trust's mission, fostering an inclusive and compassionate approach towards serving humanity.</p>
       <h1>2. Yogi Ramsuratkumar</h1>
       <p>Yogi Ramsuratkumar, also known as the "Divine Beggar," was a mystic and saint who exemplified unconditional love and selfless service. His life was dedicated to helping the needy and offering solace to the suffering. The trust embraces Yogi Ramsuratkumar's spirit of selflessness, reflecting it in its commitment to providing food, education, and medical support to those in need.</p>
       <h1>3. Gnanananda Swamigal</h1>
       <p>Gnanananda Swamigal, known for his profound wisdom and simplicity, embodied the essence of spiritual enlightenment. He inspired seekers to delve into the depths of inner wisdom and find solace in the divine. The trust is guided by Gnanananda Swamigal's teachings, which encourage the pursuit of knowledge and compassion to uplift lives and bring about positive change.</p>
       <h1>4. Sri Sivan Saar</h1>
       <p>Sri Sivan Saar, the younger brother of Kanchi Maha Periva, was a revered spiritual master and Siddha Yogi. He was known for his divine presence and blessings. The trust is deeply influenced by Sri Sivan Saar's essence of love and service, which drives its commitment to honouring the departed souls and offering dignified last rites to the unclaimed.</p>
       <h1>Embracing the Wisdom, Spreading Compassion</h1>
       <p>The teachings and philosophies of these spiritual luminaries have woven a tapestry of compassion, wisdom, and empathy around Maha Akshaya Sivam Trust. Their profound impact on society, their love for humanity, and their commitment to selfless service serve as a guiding force for the trust's vision and mission.</p>
    </div>