<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get_involved</title>
    <link rel="stylesheet" href="gets3.css">
    <script src="https://kit.fontawesome.com/35af595706.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo"><i class="fa-solid fa-star"></i>maha akshaya sivam trust</a>
        <nav class="navbar">
                <a href="#">home</a>
                <a href="#">about us</a>
                <a href="#">our services</a>
                <a href="#">get involved</a>
                <a href="#">causes</a>
                <a href="#">FAQ's</a>
                <a href="#">contact us</a>
                <div class="btn">
                <a href="#" class="btn">donate now</a>
                </div>
        </nav>
    </header>
    <div class="get">
        <h1>Support the Cause: Illuminate Lives with Your Generosity</h1>
    </div>
    <div class="container">
        <div class="text">
            <h1>How to Donate and Contribute</h1>
            <p>At Maha Akshaya Sivam Trust, your support plays a vital role in illuminating lives and creating lasting change. We offer various ways for you to donate and contribute to our initiatives, making a meaningful impact on the lives of those in need.</p>
        </div>
            <div class="image">
                <img src="./unsplash_Oalh2MojUuk (1).png" alt="" width="350%" >
            </div>
    </div>
    <div class="content">
<h1>1. Online Donations</h1>
<p>Visit our website and explore our secure online donation platform. Choose the cause you wish to support - Food, Education, Medical Facilities, or Cremation of Unclaimed Bodies - and contribute with ease.</p>
<h1>2. Micro-donations for Macro Impact</h1>
<p>Be a part of our micro-donation campaign, where even a small contribution made regularly can collectively create a significant impact. Every penny counts when multiplied by the support of many, making a world of difference for the underprivileged.</p>
<h1>3. Sponsor a Child's Education</h1>
<p>Empower the dreams of underprivileged children by participating in our sponsorship program. Become a guiding light in their lives by providing educational support, ensuring they receive quality education and a brighter future.</p>
<h1>4. Adopt a Family</h1>
<p>Experience the joy of transforming a family's life by participating in our "Adopt a Family" program. Regularly support a family in need with essentials such as food, education, and healthcare, nurturing hope and resilience.</p>
<h1>5. In-Kind Donations</h1>
<p>Donate essential items such as food, books, stationery, and medical supplies to supplement our initiatives. Your in-kind contributions directly impact the well-being of those we serve, providing comfort and sustenance.</p>
<h1>6. Peer-to-Peer Fundraising </h1>
<p>Empower your network and social circles to raise funds on behalf of our cause. By becoming a peer-to-peer fundraiser, you amplify our reach and spread the message of compassion far and wide.</p>
<h1>7. Employee Matching Program</h1>
<p>We Join hands with corporates to multiply the impact of ndividual contributions. Partnering with companies that offer employee donation matching programs, we turn your generosity into a force of transformation.</p>
<h1>8. Sponsorship Programs</h1>
<p>Participate in our sponsorship programs and make a difference in the lives of underprivileged children and families. Sponsor education, healthcare, or provide essential supplies to those in need.</p>
<h1>9. Spread the Word</h1>
<p>Share our cause on social media, with friends, and within your community. Help us raise awareness and expand our support network.</p>
<div class="centre">
<h1>Together, Let's Illuminate Souls</h1>
<p>At Maha Akshaya Sivam Trust, our volunteers are the heartbeat of our initiatives. By joining us, you become a part of a compassionate family that aims to make the world a better place for all. Together, let's illuminate souls with love, compassion, and the promise of a brighter future.</p>
</div>
</div>
<div class="form-name">
    <div class="box">
        <h1>fill this to be part of volunteer!!</h1>
    </div>
    <form class="form">
    <div class="form-control">
        <div class="fname">
        <label>first name</label> 
        <input type="text" placeholder="your first name" id="firstname">   
        </div>
        <div class="lname">
        <label>last name</label> 
        <input type="text" placeholder="your last name" id="lastname">
        </div>
    </div>
    <div class="form-control1">
        <div class="mail">
        <label>mail id</label> 
        <input type="text" placeholder="your mail" id="mail"> 
        </div> 
        <div class="contact">
        <label>phone</label> 
        <input type="text" placeholder="+91" id="phone">
        </div>
    </div>
        <div class="message">
            <label>message</label>
            <input type="text" placeholder="type your message here..." id="message">
        </div>
    <div class="btnn">send message</div>
    </form>
    </div>
    </body>