<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get_involved</title>
    <link rel="stylesheet" href="gets3.css">
    <script src="https://kit.fontawesome.com/35af595706.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo"><i class="fa-solid fa-star"></i>maha akshaya sivam trust</a>
        <nav class="navbar">
                <a href="#">home</a>
                <a href="#">about us</a>
                <a href="#">our services</a>
                <a href="#">get involved</a>
                <a href="#">causes</a>
                <a href="#">FAQ's</a>
                <a href="#">contact us</a>
                <div class="btn">
                <a href="#" class="btn">donate now</a>
                </div>
        </nav>
    </header>
    <div class="get">
        <h1>Impact: Illuminating Lives with Compassion</h1>
    </div>
    <div class="container">
        <div class="text">
            <p>At Maha Akshaya Sivam Trust, we are driven by the unwavering belief that every act of compassion has the power to create a ripple of positive change in the lives of those we serve. Our commitment to fostering an equitable society is reflected in the transformative impact we have made on countless individuals and families. Through a combination of statistics, heartwarming stories, and inspiring success accounts, we showcase the profound difference our initiatives have made in the lives of beneficiaries.</p>
            </div>
            <div class="image">
                <img src="./unsplash_Oalh2MojUuk (2).png" alt="" width="400%" >
            </div>
    </div>
    <div class="content">
<div class="speak">
        <h1>Statistics Speak Volumes</h1>
</div>
<h1>1.Number of Lives Touched</h1>
<p>Over [X] years of dedicated service, we have touched the lives of [X] individuals and families in need, spanning across diverse communities.</p>
<h1>2. Food for All</h1>
<p>Our commitment to ending hunger has resulted in providing [X] nutritious meals to the underprivileged every day, ensuring that no one goes to bed hungry.</p>
<h1>3. Education Empowerment</h1>
<p>Through educational sponsorships and support programs, we have empowered [X] bright young minds to pursue their dreams and achieve academic excellence.</p>
<h1>Healthcare Access</h1>
<p>Our initiatives have facilitated [X] medical treatments and interventions, ensuring that crucial healthcare reaches those who need it the most.</p>
<h1>5. Dignified Farewell</h1>
<p>With compassion and respect, we have performed last rites for over [X] unclaimed souls, honoring their lives with dignity and love.</p>
<div class="centre">
<h1>Changing Lives, One Act of Kindness at a Time</h1>
    <p>The impact of Maha Akshaya Sivam Trust extends far beyond numbers and statistics. It is measured in the smiles of those we serve, the dreams we nurture, and the hope we instill. Through our collaborative efforts and the unwavering support of our compassionate community, we illuminate souls with love, compassion, and the promise of a brighter tomorrow.</p>
    
    <p>Join us in celebrating the impact we have made together. Together, let's continue to create positive change and a better world for all.</p>
    </div>
</div>
<div class="form-name">
    <div class="box">
        <h1>fill this to be part of volunteer!!</h1>
    </div>
    <form class="form">
    <div class="form-control">
        <div class="fname">
        <label>first name</label> 
        <input type="text" placeholder="your first name" id="firstname">   
        </div>
        <div class="lname">
        <label>last name</label> 
        <input type="text" placeholder="your last name" id="lastname">
        </div>
    </div>
    <div class="form-control1">
        <div class="mail">
        <label>mail id</label> 
        <input type="text" placeholder="your mail" id="mail"> 
        </div> 
        <div class="contact">
        <label>phone</label> 
        <input type="text" placeholder="+91" id="phone">
        </div>
    </div>
        <div class="message">
            <label>message</label>
            <input type="text" placeholder="type your message here..." id="message">
        </div>
    <div class="btnn">send message</div>
    </form>
    </div>
    </body>