<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
</head>
<body  :class="{ 'overflow-hidden max-h-screen': mobileMenu }"
class="relative"
x-data="{ mobileMenu: false }">
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <div>
    <nav style="background-color: rgba(14, 14, 14, 1);">
      <div class= "bg-primary flex pb-6 pt-3">
        <div class="">
          <svg class="mt-6 ml-14" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.12249 1.10573C7.50171 0.411796 8.49829 0.411796 8.87751 1.10573L9.96022 3.08693C10.1657 3.46292 10.5879 3.66622 11.0099 3.59244L13.234 3.20368C14.0129 3.06751 14.6343 3.84666 14.3282 4.57581L13.4543 6.65757C13.2884 7.05264 13.3927 7.50946 13.7135 7.79345L15.4041 9.28987C15.9963 9.814 15.7745 10.7856 15.0136 11.0009L12.8412 11.6156C12.4289 11.7323 12.1367 12.0986 12.1147 12.5265L11.9989 14.7813C11.9583 15.571 11.0604 16.0034 10.4176 15.5427L8.58254 14.2275C8.23429 13.9779 7.76571 13.9779 7.41746 14.2275L5.58236 15.5427C4.9396 16.0034 4.04172 15.571 4.00113 14.7813L3.88526 12.5265C3.86327 12.0986 3.57112 11.7323 3.15884 11.6156L0.986381 11.0009C0.225463 10.7856 0.00370476 9.814 0.595851 9.28987L2.28646 7.79344C2.6073 7.50946 2.71156 7.05264 2.54571 6.65757L1.6718 4.57581C1.36571 3.84666 1.98706 3.06751 2.76604 3.20368L4.99007 3.59244C5.41214 3.66622 5.83431 3.46292 6.03978 3.08693L7.12249 1.10573Z" fill="#F2C94C"/>
            </svg>
          </div>
            <h2 class="ml-1 mt-5 text-white">
              Siva Akshayam Trust
            </h2> 
        <div class="flex justify-center mt-5 ml-52 px-32 text-white">
          <div class="mr-7">
            <a href="base">
              Home
            </a>
          </div>
          <div class="mr-7">
            <a href="aboutus">
              About US
            </a>
          </div>
          <div class="mr-7">
            <a href="our_services">
              Ourservices
            </a>
          </div>
          <div class="mr-7">
            <a href="Causes">
              Causes
            </a>
          </div>
          <div class="mr-7">
            <a href="faq">
              FAQ's
            </a>
          </div>
          <div class="mr-7">
            <a href="contactus">
              Contact Us
            </a>
          </div>
        </div>
        <div class="mt-2 ml-32 text-black font-bold rounded-md" style="background-color:rgba(242, 201, 76, 1);">
          <button class="h-12 w-40 text-black font-bold">Donate Now</button>
        </div>
      </div>
    </nav>
  </div>
      <main>
        <div class="flex">
            <div class="pt-28 pl-24 text-6xl font-bold">
                <h1>Maha Akshaya Sivam Trust <br>
            <span style="color: rgba(0, 0, 0, 0.63);">
                “Empowering Lives, <br>
                Embracing Souls”</span></h1>
        </div>
        <div class="pl-24 mt-28">
            <p>Maha Akshaya Sivam Trust had its humble beginnings in the <br>
                hearts of devoted individuals who yearned to make a <br>
                difference in the lives of the less fortunate. Inspired by the <br>
                teachings and ideals of revered spiritual leaders—Kanchi <br>
                Maha Periva, Yogi Ramsuratkumar, Gnanananda Swamigal, <br>
                and Sri Sivan Saar—our trust was founded with a deep- <br>
                rooted commitment to serving humanity.</p>
            </div>
        </div>
        <div class="pt-24 pl-2">
            <img src="static/assets/Teamwork.png" alt="Teamwork">
        </div>
        <div class="flex">
            <div>
                <div data-aos="fade-up">
                <h1 class="font-bold text-5xl pl-36 pt-36">
                    The Vision Takes Shape
                </h1>
            </div>
            <div class="pl-36 pt-10 text-2xl" data-aos="fade-up">
                <p>
                    The seeds of compassion were sown when like-minded <br>
                    devotees came together, united by the shared dream of <br>
                    creating an equitable society. Fuelled by the vision of a <br>
                    world where everyone could access basic needs such as <br>
                    Food, Education, and Medical Facilities, Maha Akshaya <br>
                    Sivam Trust took its first steps on the path of service.
                </p>
            </div>
        </div>
        <div class="pl-40 mt-24 h-96 w-96" style="width: 590.998px; height: 460px;" data-aos="fade-left">
            <img src="static/assets/Project planning.png" alt="project planning">
        </div>
    </div>
    <div class="flex">
        <div class="pl-40 mt-3 h-96 w-96" style="width: 590.998px; height: 460px;" data-aos="fade-right">
            <img src="static/assets/Group discussion.png" alt="Group discussion">
        </div>
        <div>
            <div data-aos="fade-up">
            <h1 class="font-bold text-5xl pl-36 pt-3">
                Our Founders and <br>
                Managing Truste
            </h1>
        </div>
        <div class="pl-36 pt-3 text-2xl" data-aos="fade-up">
            <p>
                Our journey was nurtured and guided by our dedicated <br>
                founders and the visionary Managing Trustee. Their <br>
                unwavering dedication and selfless spirit laid the foundation <br>
                for the trust's transformative impact. With their blessings, <br>
                Maha Akshaya Sivam Trust embarked on a noble endeavor <br>
                to empower lives and embrace souls.
            </p>
        </div>
    </div>
</div>
<div class="flex">
    <div>
        <div data-aos="fade-up">
        <h1 class="font-bold text-5xl pl-36">
            Growing Compassion, <br>
             Growing Impact
        </h1>
    </div>
    <div class="pl-36 pt-10 text-2xl" data-aos="fade-up">
        <p>
            Over the years, the trust's efforts expanded, and its <br>
            impact grew exponentially. With the support of kind- <br>
            hearted individuals, organizations, and governmental <br>
            agencies, we were able to reach more communities in <br>
            need. Our services evolved to encompass diverse <br>
            initiatives, all centered around the core themes of Food, <br>
            Education, and Medical Facilities.
        </p>
    </div>
</div>
<div class="pl-40 mt-10 h-96 w-96" style="width: 590.998px; height: 460px;" data-aos="fade-left">
    <img src="static/assets/Startup launch.png" alt="Start launch">
</div>
</div>
<div class="flex">
        <div class="pl-40 mt-3 h-96 w-96" style="width: 590.998px; height: 360px;" data-aos="fade-right">
            <img src="static/assets/unclaimedbodies.png" alt="unclaimed bodies">
        </div>
        <div>
            <div data-aos="fade-up">
            <h1 class="font-bold text-5xl pl-36 pt-3">
                Flagship Service: <br>
                Honoring Departed Souls
            </h1>
        </div>
        <div class="pl-36 pt-3 text-2xl" data-aos="fade-up">
            <p>
                We are dedicated to the sacred duty of performing dignified <br>
                last rites for unclaimed bodies. This flagship service reflects <br>
                our belief in the inherent dignity of every human being, <br>
                ensuring that no one departs this world unremembered. Our <br>
                commitment to compassion and inclusivity drives us in our <br>
                mission to create a world where basic needs and respect <br>
                are extended to all.
            </p>
        </div>
    </div>
    </div>
    <div class="flex pt-16">
        <div>
            <div data-aos="fade-up">
                <h1 class="font-bold text-5xl pl-36">
                    A Beacon of Hope
                </h1>
            </div>
        <div class="pl-36 pt-10 text-2xl" data-aos="fade-up">
            <p>
                Over the years, the trust's efforts expanded, and its <br>
                impact grew exponentially. With the support of kind-hearted <br>
                individuals, organizations, and governmental <br>
                agencies, we were able to reach more communities in <br>
                need. Our services evolved to encompass diverse <br>
                initiatives, all centered around the core themes of Food, <br>
                Education, and Medical Facilities.
            </p>
        </div>
    </div>
    <div class="pl-40 mt-10 h-96 w-96" style="width: 590.998px; height: 360px;" data-aos="fade-left">
        <img src="static/assets//Beacon.png" alt="Beacon">
    </div>
    </div>
    <div class="flex">
        <div class="pl-40 mt-3 h-96 w-96" style="width: 590.998px; height: 360px;" data-aos="fade-right">
            <img src="static/assets/Journeycontinues.png" alt="journeycontinues">
        </div>
        <div>
            <div data-aos="fade-up">
            <h1 class="font-bold text-5xl pl-36 pt-3">
                The Journey Continues
            </h1>
        </div>
        <div class="pl-36 pt-3 text-2xl" data-aos="fade-up">
            <p>
                As we continue on our transformative journey, the trust <br>
                remains committed to its mission of serving humanity with <br>
                love and selflessness. We are eternally grateful to all our <br>
                supporters, volunteers, donors, and partners who have <br>
                contributed to the growth and impact of Maha Akshaya <br>
                Sivam Trust.
            </p>
        </div>
    </div>
    </div>
    <div class="flex">
        <div class="pl-40 mt-3 h-96 w-96" style="width: 590.998px; height: 360px;" data-aos="fade-right">
            <img src="" alt="journeycontinues">
        </div>
        <div class="pl-36 pt-3 text-5xl font-semibold" data-aos="fade-up">
            <p>
                “Our vision is to empower <br>
                the underprivileged and <br>
                create a compassionate <br>
                society inspired by <br>
                revered spiritual leaders.”
            </p>
        </div>
    </div>
    <div class="" data-aos="fade-up">
        <div class="font-bold mt-10 ml-28 h-96" style="background-image: url(static/assets/BG.png); background-repeat: no-repeat;">
          <h2 class=" pt-32 text-5xl text-center text-white">You can contribute to provide a place <br>
            for children with special needs!</h2>
            <div class="flex content-center">
              <div class="pl-96 pt-12">
                <button class="bg-yellow-300 hover:bg-white hover:text-black h-11 w-40 font-semibold rounded-md">Join as a volunteer</button>
              </div>
              <div class="pl-40 pt-12 border-yellow-300">
                <button class="bg-white hover:bg-yellow-300 hover:text-black h-10 w-28 font-semibold rounded-md">Donate</button>
              </div>
            </div>
        </div>
      </div>
      <div>
        <div class="pl-40 pt-28 font-bold text-5xl">
            <h1>Meet our <br>
                amazing team</h1>
            </div>
      </div>
    </main>
</body>
</html>
