<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin page</title>
    <link rel="stylesheet" href="admin.css">
    <script src="https://kit.fontawesome.com/35af595706.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="menu">
        <h1>hello,admin👋</h1>
        <div class="icons">
        <form action="" class="search-form">
            <input type="search" class="search" id="search.box" placeholder="search here...">
            <label for="search-box"></label>
        </form>
        </div>
        <img src="C:/Users/Shalini Mariappan/Downloads/man.jpg" width="10%" alt="">
        </div>

    
        <!--bar
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa-solid fa-bars" id="btn"></i>
        <i class="fa-solid fa-xmark" id="cancel"></i>
    </label>
    --->

<!--homepage-->
    <div class="home-page">
        <form action="" class="home">
            <div class="form-control">
                <label>landing page title</label>
            <input type="text" placeholder="title" class="box">
            </div>
            <div class="form-control">
                <label>landing page description</label>
            <input type="text" placeholder="description" class="box">
            </div>
            <div class="form-control">
                <label>our mission title</label>
            <input type="text" placeholder="title" class="box">
            </div>
            <div class="form-control">
                <label>our mission description</label>
            <input type="text" placeholder="description" class="box">
            </div>
            <div class="form-control">
                <label>what we do title</label>
            <input type="text" placeholder="title" class="box">
            </div>
            <div class="form-control">
                <label>what we do sub title</label>
            <input type="text" placeholder="sub title" class="box">
            </div>
            <div class="form-control">
                <label>what we do description</label>
            <input type="text" placeholder="description" class="box">
            </div>
            <div class="form-control">
                <label>what we do image</label>
            <input type="text" placeholder="upload" class="box">
            </div>
            <div class="form-control">
                <label>testinominal name</label>
            <input type="text" placeholder="name" class="box">
            </div>
            <div class="form-control">
                <label>testinominal designation</label>
            <input type="text" placeholder="designation" class="box">
            </div>
            <div class="form-control">
                <label>testinominal description</label>
            <input type="text" placeholder="description" class="box">
            </div>
            <div class="form-control">
                <label>testinominal profile image</label>
            <input type="text" placeholder="upload image" class="box">
            </div>
            <input type="submit" value="submit" class="btn">
        </form>
    </div>
    <!--about us-->
    <div class="about-page">
        <form action="" class="about">
            <div class="form-control">
                <label>about us page title</label>
            <input type="text" placeholder="title" class="box">
            </div>
            <div class="form-control">
                <label>about us page description</label>
            <input type="text" placeholder="description" class="box">
            </div>
            <div class="form-control">
                <label>about us image</label>
            <input type="text" placeholder="upload" class="box">
            </div>
            <div class="form-control">
                <label>founder name</label>
            <input type="text" placeholder="name" class="box">
            </div>
            <div class="form-control">
                <label>founder designation</label>
            <input type="text" placeholder="designation" class="box">
            </div>
            <div class="form-control">
                <label>founder image</label>
            <input type="text" placeholder="upload" class="box">
            </div>
            <div class="form-control">
                <label>founder Message</label>
            <input type="text" placeholder="Message" class="box">
            </div>
            <div class="form-control">
                <label>team profile image</label>
            <input type="text" placeholder="upload image" class="box">
            </div>
            <div class="form-control">
                <label>team member name</label>
            <input type="text" placeholder="name" class="box">
            </div>
            <div class="form-control">
                <label>team member designation</label>
            <input type="text" placeholder="designation" class="box">
            </div>
            <div class="form-control">
                <label>twitter link</label>
            <input type="text" placeholder="link" class="box">
            </div>
            <div class="form-control">
                <label>linkedin link</label>
            <input type="text" placeholder="link" class="box">
            </div>
            <div class="form-control">
                <label>gallery images</label>
            <input type="text" placeholder="upload gallery images" class="box">
            </div>
            <input type="submit" value="submit" class="btn">
        </form>
    </div>
    <!--our services-->
    <div class="services-page">
        <form action="" class="services">
            <div class="form-control">
                <label>our services page title</label>
            <input type="text" placeholder="title" class="box">
            </div>
            <div class="form-control">
                <label>our services page description</label>
            <input type="text" placeholder="description" class="box">
            </div>
            <div class="form-control">
                <label>our services image</label>
            <input type="text" placeholder="upload" class="box">
            </div>
            <div class="form-control">
                <label>theme title</label>
            <input type="text" placeholder="name" class="box">
            </div>
            <div class="form-control">
                <label>theme description</label>
            <input type="text" placeholder="description" class="box">
            </div>
            <div class="form-control">
                <label>theme icon image</label>
            <input type="text" placeholder="upload" class="box">
            </div>
            <div class="form-control">
                <label>flagship services title</label>
            <input type="text" placeholder="title" class="box">
            </div>
            <div class="form-control">
                <label>flagship services description</label>
            <input type="text" placeholder="description" class="box">
            </div>
            <div class="form-control">
                <label>flagship services image</label>
            <input type="text" placeholder="upload image" class="box">
            </div>
            <div class="form-control">
                <label>testinominal designation</label>
            <input type="text" placeholder="designation" class="box">
            </div>
            <div class="form-control">
                <label>process for flagship services</label>
            <input type="text" placeholder="description" class="box">
            </div>
            <input type="submit" value="submit" class="btn">
        </form>
    </div>
    <!--get involved-->
    <div class="involved-page">
        <form action="" class="involved">
            <div class="form-control">
                <label>get involved page title</label>
            <input type="text" placeholder="title" class="box">
            </div>
            <div class="form-control">
                <label>get involved description</label>
            <input type="text" placeholder="description" class="box">
            </div>
            <div class="form-control">
                <label>get involved image</label>
            <input type="text" placeholder="image" class="box">
            </div>
            <input type="submit" value="submit" class="btn">
        </form>
    </div>
    <!--causes-->
    <div class="causes-page">
        <form action="" class="causes">
            <div class="form-control">
                <label>our causes page title</label>
            <input type="text" placeholder="title" class="box">
            </div>
            <div class="form-control">
                <label>domain of cause</label>
            <input type="text" placeholder="homeless,food" class="box">
            </div>
            <div class="form-control">
                <label>cause title</label>
            <input type="text" placeholder="title" class="box">
            </div>
            <div class="form-control">
                <label>cause description</label>
            <input type="text" placeholder="description" class="box">
            </div>
            <div class="form-control">
                <label>goal of donation</label>
            <input type="text" placeholder="Ex:1,20,000 rs" class="box">
            </div>
            <div class="form-control">
                <label>image of cause</label>
            <input type="text" placeholder="upload image" class="box">
            </div>
            <input type="submit" value="submit" class="btn">
        </form>
    </div>
    <!--donation page-->
    <div class="donation-page">
        <form action="" class="donation">
            <div class="form-control">
                <label>donation causes title</label>
            <input type="text" placeholder="title" class="box">
            </div>
            <div class="form-control">
                <label>domain cause image</label>
            <input type="text" placeholder="image" class="box">
            </div>
            <div class="form-control">
                <label>popular tags</label>
            <input type="text" placeholder="description" class="box">
            </div>
            <div class="form-control">
                <label>donation money goal</label>
            <input type="text" placeholder="name" class="box">
            </div>
            <div class="form-control">
                <label>donation cause description</label>
            <input type="text" placeholder="description" class="box">
            </div>
            <div class="form-control">
                <label>donation cause image</label>
            <input type="text" placeholder="upload image" class="box">
            </div>
            <input type="submit" value="submit" class="btn">
        </form>
    </div>
    <div class="sidebar">
        <header><b>admin</b></header>
        <ul>
            <li><a href="#"><i class="fa-solid fa-house" id="home-btn"><b>home page</b></i></a></li>
            <li><a href="#"><i class="fa-solid fa-circle-question" id="about-btn"><b>about us</b></i></a></li>
            <li><a href="#"><i class="fa-solid fa-bars" id="services-btn"><b>services</b></i></a></li>
            <li><a href="#"><i class="fa-solid fa-handshake-angle" id="involved-btn"><b>get involved</b></i></a></li>
            <li><a href="#"><i class="fa-solid fa-triangle-exclamation" id="causes-btn"><b>causes</b></i></a></li>
            <li><a href="#"><i class="fa-solid fa-heart" id="donation-btn"><b>donation page</b></i></a></li>
        </ul>
    </div>

    <script>let homepage = document.querySelector('.home-page');
        document.querySelector('#home-btn').onclick = () =>{
            homepage.classList.toggle('active');
        }
        let aboutpage = document.querySelector('.about-page');
        document.querySelector('#about-btn').onclick = () =>{
            aboutpage.classList.toggle('active');
        }
        let servicespage = document.querySelector('.services-page');
        document.querySelector('#services-btn').onclick = () =>{
            servicespage.classList.toggle('active');
        }
        let involvedpage = document.querySelector('.involved-page');
        document.querySelector('#involved-btn').onclick = () =>{
            involvedpage.classList.toggle('active');
        }
        let causespage = document.querySelector('.causes-page');
        document.querySelector('#causes-btn').onclick = () =>{
            causespage.classList.toggle('active');
        }
        let donationpage = document.querySelector('.donation-page');
        document.querySelector('#donation-btn').onclick = () =>{
            donationpage.classList.toggle('active');
        }</script>
</body>
</html>

