{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    rel="stylesheet"/>
  <style>
    /* body{
      overflow-x: hidden;
  
  margin: 0;
  padding: 0;
    } */
    .bg-cover {
  background-size: cover; /* or background-size: contain; */
}

  /* Mobile Styles */
  @media (max-width: 1572px) {
    /* Mobile-specific styles */
    header {
      background-color: rgba(14, 14, 14, 1);
      padding: 10px;
    }
    /* Add more mobile styles as needed */
  }

  /* Tablet and Desktop Styles */
  @media (min-width: 1200px) {
    /* Tablet and desktop-specific styles */
    header {
      background-color: rgba(14, 14, 14, 1);
      padding: 20px;
    }
    /* Add more tablet and desktop styles as needed */
  }
  </style>
</head>
<body class="overflow-x-hidden">
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <style>
     /* Default styles for larger screens */
     .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(14, 14, 14, 1);
      padding: 6px 12px;
    }

    /* Dropdown styles */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: rgba(14, 14, 14, 1);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: black;
      color: black;
    }

    /* Mobile menu styles */
    .mobile-menu {
      display: none;
      flex-direction: column;
      background-color: rgba(14, 14, 14, 1);
      padding: 10px;
    }

    .show-mobile-menu {
      display: flex; /* Show the mobile menu when the class is applied */
    }

    /* Close button styles */
    .close-button {
      align-self: flex-end;
      cursor: pointer;
      color: white;
      margin-right: 10px;
    }

    /* Mobile dropdown styles */
    

    /* Default styles for larger screens */
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(14, 14, 14, 1);
      padding: 6px 12px;
    }

    .donate-button{
      background: rgba(242, 201, 76, 1);
      border-radius: 5%;
    }
    /* Mobile menu icon styles */
    .mobile-menu-icon {
      display: none; /* Initially hide the icon on larger screens */
      cursor: pointer;
    }

    .nav-logo {
      display: flex;
      align-items: center;
    }

    .nav-menu {
      display: flex;
      justify-content: center;
    }

    .nav-menu a {
      margin-right: 15px;
      color: white;
      text-decoration: none;
    }

    .nav-menu a:hover {
      color: #F2C94C;
    }

    /* Mobile menu styles */
    .mobile-menu {
      display: none;
      flex-direction: row;
      background-color: rgba(14, 14, 14, 1);
      padding: 10px;
    }

    .show-mobile-menu {
      display: block; /* Show the menu when the class is applied */
    }

    /* Close button styles */
    .close-button {
      align-self: flex-end;
      cursor: pointer;
      color: white;
      margin-right: 10px;
    }

    @media screen and (max-width: 1200px) {
      /* Styles for small screens */
      .nav-container {
        flex-direction: row;
        align-items: center;
      }

      .mobile-menu-icon {
        display: block; /* Show the menu icon on small screens */ 
      }
      .nav-menu{
        display: none;
      }

      .donate-button {
        display: none;
      }
    }
    .mobile-dropdown {
      display: none;
    }

    .mobile-dropdown a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .mobile-dropdown a:hover {
      background-color: #F2C94C;
      color: black;
    }

    .show-mobile-menu .mobile-dropdown {
      display: block;
    }
  </style>

</head>
<body class="overflow-x-hidden">
  <div class="nav-container">
    <div class="nav-logo">
      <div class="">
        <img src="../static/assets/logo-white.png" class="h-14 w-14" />
      </div>
      <h2 class="ml-1 text-white">SivaAkshayamTrust</h2>
    </div>
    <button class="mobile-menu-icon" id="mobile-menu-icon">
      <svg height="30" id="IconChangeColor" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="30" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2 s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2 S29.104,22,28,22z" id="mainIconPathAttribute" fill="#ffffff"></path></svg>
    </button>
    <div class="nav-menu text-sm">
      <a href="base" class="ml-2">Home</a>
      <div class="dropdown">
        <a href="#" class="ml-2">About</a>
        <div class="dropdown-content">
          <a href="aboutus1">Maha Akshaya Sivam</a>
          <a href="aboutus2">Our Motto</a>
          <a href="aboutus3">Overview</a>
          <a href="aboutus4">Embracing Humanity</a>
        </div>
      </div>
      <a href="services" class="ml-2">Ourservices</a>
      <div class="dropdown">
        <a href="#" class="ml-2">Getinvolved</a>
        <div class="dropdown-content">
          <a href="Getinvolved">Join Our Team</a>
          <a href="volunteer">volunteer opportunities</a>
          <a href="support">Support the Cause</a>
          <a href="foster">Fostering Collective Impact</a>
          <a href="impact">Impact</a>
        </div>
      </div>
      <a href="Causes" class="ml-2">Causes</a> 
      <a href="faq" class="ml-2">FAQ's</a>
      <a href="contactus" class="ml-2">ContactUs</a>
    </div>
    <div class="donate-button" id="donate-button">
      <a href="Donate"><button class="h-12 w-40 text-black font-bold hover:text-white">Donate Now</button></a>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div class="mobile-menu" id="mobile-menu">
    <button class="close-button" onclick="closeMobileMenu()">
      Close
    </button>
    <div class="text-md text-white block">
      <a href="base" class="block ml-1">Home</a>
      <div class="mobile-dropdown">
        <a href="#" class="ml-1">About</a>
        <a href="aboutus1" class="ml-4">Maha Akshaya Sivam</a>
        <a href="aboutus2" class="ml-4">Out Motto</a>
        <a href="aboutus3" class="ml-4">Overview</a>
        <a href="aboutus4" class="ml-4">Embracing Humanity</a>
      </div>
      <a href="services" class="ml-1">Our Services</a>
      <div class="mobile-dropdown">
        <a href="#">Getinvolved</a>
        <a href="Getinvolved" class="ml-4">Join Our Team</a>
        <a href="volunteer" class="ml-4">volunteer opportunities</a>
        <a href="support" class="ml-4">Support the Cause</a>
        <a href="foster" class="ml-4">Fostering Collective Impact</a>
        <a href="impact" class="ml-4">Fostering Collective Impact</a>
      </div>
      <a href="Causes" class="ml-1 block">Causes</a> 
      <a href="faq" class="ml-1 block">FAQ's</a>
      <a href="contactus" class="ml-1 block">ContactUs</a>
    </div>
  </div>

  <script>
     // JavaScript to toggle the mobile menu when the icon is clicked
     const mobileMenuIcon = document.getElementById('mobile-menu-icon');
     const mobileMenu = document.getElementById('mobile-menu');
 
     mobileMenuIcon.addEventListener('click', () => {
       mobileMenu.classList.toggle('show-mobile-menu');
     });
 
     // JavaScript to close the mobile menu when the close button is clicked
     function closeMobileMenu() {
       mobileMenu.classList.remove('show-mobile-menu');
     }
  </script>
            <div>
              {% block content %}
              <main class="">
                <div  class="bg-cover pt-4 xl:w-full mlg:w-full lg:w-full md:w-full sm:w-full" style="background-image: url(/static/assets/children1.png);">
                  <h1 class="text-white text-7xl mlg:pl-28 pl-28 md:pl-28 sm:pl-10 ss:pl-10 xs:pl-10 pt-28 font-bold">
                    Helping Each Other <br>
                    Can Make World Better
                  </h1>
                  <h2 class="text-white lg:pl-28 md:pl-28 sm:pl-10 ss:pl-10 xs:pl-10 pt-10">We Seek out world changers and difference makers around the <br>  
                    globe,and equip them to fulfill their unique purpose.</h2>
                    <div class="mt-7 ml-28 mlg:flex lg:flex md:flex sm:flex ss:block xs:block text-black">
                      <div class="">
                        <button class="h-12 w-40 bg-yellow-300 hover:bg-black font-bold rounded-md text-black border hover:border-yellow-300 hover:text-white" style="background-color: rgba(242, 201, 76, 1);">Donate Now</button>
                      </div>
                      <div class=" mlg:pl-10 lg:pl-10 md:pl-10 sm:pl-10 ss:pl-10 xs:pl-10 mlg:pt-0 ss:pt-10 text-white font-bold rounded-md border-yellow-300">
                        <button class="h-12 w-40 text-white  font-bold rounded-md border hover:border-yellow-300">Know About Us</button>
                      </div>
                    </div>
                    <h1 class="pt-36 text-white pl-28 pb-16 font-semibold">230 children under our care  ___________________________________________________________________________________________________________________________________________  58 donations collected</h1>
                  </div>
                  <div class="pl-28 pt-7 font-Roboto">
                    <h1 class="text-black font-bold text-3xl">Our Supporters</h1>
                  </div>
                  <div class="xl:flex mlg:flex flex md:grid md:grid-cols-3 sm:grid sm:grid-cols-2 text-3xl text-gray-500" data-aos="fade-up" data-aos-duration="500">
                    <div class="pl-28 pt-8">
                      <h4>logoipsm</h4>
                    </div>
                    <div class="pl-28 pt-8">
                      <h4>logoipsm</h4>
                    </div>
                    <div class="pl-28 pt-8">
                      <h4>logoipsm</h4>
                    </div>
                    <div class="pl-28 pt-8">
                      <h4>logoipsm</h4>
                    </div>
                    <div class="pl-28 pt-8">
                      <h4>logoipsm</h4>
                    </div>
                    <div class="pl-28 pt-8">
                      <h4>logoipsm</h4>
                    </div>
                    </div>
                  </div>
            
                  <div class="pl-28 pt-8 xl:justify-center mlg:justify-center lg:justify-center md:justify-center sm:justify-center sm:w-11/12">
                    <img src="static/assets/NGO.png" alt="team">
                  </div>
                  <div class="xl:flex mlg:flex flex md:block md:pl-20 sm:pl-20 ss:pl-20 xs:pl-20 sm:block" >
                    <div class="-ml-28 mr-10">
            
                      <div class="xl:pl-60 pl-60  pt-14 text-sm text-black font-bold">
                        <h2>OUR MISSION</h2>
                      </div>
                      <div class="mlg:pl-60  lg:pl-60 md:pl-10 pt-4 font-bold text-2xl" data-aos="fade-right">
                        <h1>Empowering Lives Through <br>
                          Compassionate Outreach: Providing <br>
                          Essential Support to the Marginalized
                        </h1>
                      </div>
                      <p class="mlg:pl-60 lg:pl-60 md:pl-10 sm:pl-10 ss:pl-10 xs:pl-10 pt-5" data-aos="fade-up">
                        We offer free/affordable food, education, and medical care to the <br>
                         marginalized. Education empowers children and elders for a brighter <br>
                        future. Medical support without financial barriers for better health. <br>
                        Dignified cremation for unclaimed bodies, honoring every soul. <br>
                        Collaborate with agencies and organizations for wider impact. Our <br>
                        mission is to create a world where no one is left behind, and <br>
                        everyone has the opportunity to thrive. <br>
                      </p>
                    </div>
                    <div>
                      <div class="xl:pl-40  mlg:pl-40 md:pl-40 sm:pl-10 pt-14 xs:pl-10 ss:pl-10 text-sm text-black font-bold">
                        <h2>OUR VISION</h2>
                      </div>
                      <div class="pl-40 pt-4 font-bold text-2xl" data-aos="fade-left">
                        <h1>Building a Compassionate and <br>
                           Inclusive Society: Our Vision for a <br>
                            Better Tomorrow <br>
                        </h1>
                      </div>
                      <p class="pl-40 pt-5" data-aos="fade-up">
                        Our organization is guided by core values of compassion, equality, <br>
                         respect, inclusivity, and accountability. We treat everyone with <br>
                          empathy, ensure fairness and access to opportunities, honor dignity, <br>
                           embrace diversity, and remain transparent and responsible in all our <br>
                            actions. Together, we strive to create a better and more <br>
                             compassionate society for all. Driven by compassion and empathy, <br>
                              we unite for a more inclusive society. <br>
                      </p>
                    </div>
                  </div>
                  <div class="pl-20 pt-40 space-x-3 font-semibold flex" data-aos="fade-right">
                    <h1>WHAT WE DO</h1>
                    <h1>_______________</h1>
                  </div>
                  <span class="xl:flex pr-10 mlg:flex lg:flex md:block sm:block">
                  <div>
                    <div class="xl:text-4xl mlg:text-4xl lg:text-2xl md:text-xl sm:text-xl xs:text-xl ss:text-xl xl:pl-60 mlg:pl-40 lg:pl-28 md:pl-28 sm:pl-36 pt-20 font-bold" data-aos="fade-right">
                      <h1>Enriching Lives through <br>
                        Nourishment, Knowledge, <br>
                        and Healthcare.</h1>
                    </div>
                    <div>
                        <div class="block">
                          <div class="flex" data-aos="fade-right">
                            <img class="mlg:pl-60 lg:pl-60 md:pl-40 sm:pl-32 pt-16" src="static/assets/food benefits.png" alt="">
                            <h1 class=" pl-5 pt-16 font-bold text-lg">Food Benefits</h1>
                          </div>
                          <p class="text-gray-500 mlg:pl-72 lg:pl-72 md:pl-52 sm:pl-40 pt-4" data-aos="fade-up">Our commitment to ending hunger drives us to provide free and nutritious meals <br>
                             to those in need, ensuring food security and nourishment for all the marginalized <br>
                              individuals and families we serve.</p>
                        </div>
                        <div>
                          <div class="flex" data-aos="fade-right">
                          <img class="mlg:pl-60 lg:pl-60 md:pl-40 sm:pl-32 pt-10" src="static/assets/Medical Benefits.png" alt="">
                            <h1 class=" pl-5 pt-10 font-bold text-lg">Medical Benefits</h1>
                          </div>
                          <p class="text-gray-500 mlg:pl-72 lg:pl-72 md:pl-52 sm:pl-40 pt-4" data-aos="fade-up">Empowering minds and igniting a passion for learning, our educational initiatives <br>
                            break down barriers, offering quality education and lifelong opportunities for both <br>
                            young minds and elders, fostering personal growth and development.</p>
                        </div>
                        <div class="flex" data-aos="fade-right">
                          <img class="mlg:pl-60 lg:pl-60 md:pl-40 sm:pl-32 pt-10" src="static/assets/Education.png" alt="">
                            <h1 class=" pl-5 pt-10 font-bold text-lg">Education</h1>
                          </div>
                          <p class="text-gray-500 mlg:pl-72 lg:pl-72 md:pl-52 sm:pl-40 pt-4" data-aos="fade-up">We believe that good health is a fundamental right, and we work tirelessly to <br>
                            provide accessible medical support without any financial barriers, offering <br>
                            essential healthcare services to improve the well-being and resilience of our <br>
                            community.</p>
                         
                  </div>
                </div>
                          <div>
                            <img class="pl-24 pt-20 w-full sm:w-11/12 sm:pl-5" data-aos="zoom-in" src="static/assets/unsplash_SBIak0pKUIE.png" alt="children">
                          </div>
                        </div>
                  </span>
                  <div class="pl-20 pt-40 space-x-3 font-semibold flex" data-aos="fade-right">
                    <h1 class="">LATEST CAUSES</h1>
                    <h1 class="underline w-8">_______________</h1>
                  </div>
                  <div class="font-bold text-5xl pl-20 pt-20 " data-aos="fade-up">
                    <h1 class="">Find the popular cause <br>
                      and donate them</h1>
                  </div>
                  <div class="xl:flex pl-16 grid mlg:grid-cols-4 gap-12 lg:grid-cols-3 lg:gap-12 md:grid-cols-3 md:gap-10 sm:grid-cols-2 sm:gap-8 md:pl-10" style="margin-left: 1%;">
                    <div class="pt-3 ">
                        <div class="shadow-lg w-80" data-aos="flip-left">
                        <div class="pl-7 pt-10" style="padding-left: 2.2rem;">
                            <img style="background-size: cover;" src="static/assets/Medical.png" alt="medical">
                        </div>
                        <div class="pl-14 pt-4 font-bold text-yellow-300">
                            <h1>Medical</h1>
                        </div>
                        <div class="pl-14 pt-3 font-bold text-lg">
                            <h2>Donate for poor peoples <br>
                                Treatment and Medicine.</h2>
                        </div>
                        <div class="pl-14 pt-3">
                            <p>Lorem ipsum dolor sit amet, consete <br>
                                sadipscing elitr, sed diam nonumy....</p>
                        </div>
                        <div class="flex">
                            <div class="pl-14 pt-4 font-bold">
                                <h2>Donate</h2>
                            </div>
                            <div class="pl-48 pt-4">
                                <h1>60%</h1>
                            </div>
                        </div>
                        <div class="pl-14 pt-1">
                            <div class="h-2 bg-gray-600 dark:bg-red" style="width: 80%;">
                                <div class="h-2 bg-yellow-400" style="width: 60%"></div>
                              </div>
                        </div>
                        <div class="flex">
                            <div class="pl-14 pt-4">
                                <h2>Raised:Rs 9000</h2>
                            </div>
                            <div class="pl-16 pt-4">
                                <h1>Goal: Rs 10,000</h1>
                            </div>
                        </div>
                        <div class="pl-14 pt-2 pb-4">
                            <button class="bg-white border-yellow-300 text-yellow-300 hover:bg-yellow-300 hover:text-white w-28 rounded-md text-lge">Donate</button>
                        </div>
                    </div>
                </div>
                <div class="pt-3">
                    <div class="shadow-lg w-80" data-aos="flip-left">
                        <div class="pl-7 pt-10" style="padding-left: 2.2rem; ">
                            <img src="static/assets/Homeless.png" alt="Homeless">
                        </div>
                        <div class="pl-14 pt-4 font-bold text-yellow-300">
                            <h1>Homeless</h1>
                        </div>
                        <div class="pl-14 pt-3 pb-2 font-bold text-lg">
                            <h2>Children we work with</h2>
                            </div>
                        <div class="pl-14 pt-3">
                            <p>Lorem ipsum dolor sit amet, consete <br>
                                sadipscing elitr, sed diam nonumy....</p>
                            </div>
                        <div class="flex">
                            <div class="pl-14 pt-4 font-bold">
                                <h2>Donate</h2>
                            </div>
                            <div class="pl-48 pt-4">
                                <h1>60%</h1>
                            </div>
                        </div>
                        <div class="pl-14 pt-1">
                            <div class="h-2 bg-gray-600 dark:bg-red" style="width: 80%;">
                                <div class="h-2 bg-yellow-400" style="width: 60%"></div>
                              </div>
                            </div>
                        <div class="flex">
                            <div class="pl-14 pt-4">
                                <h2>Raised:Rs 9000</h2>
                            </div>
                            <div class="pl-16 pt-4">
                                <h1>Goal: Rs 10,000</h1>
                            </div>
                        </div>
                        <div class="pl-14 pt-2 pb-8">
                            <button class="bg-white border-yellow-300 text-yellow-300 hover:bg-yellow-300 hover:text-white w-28 rounded-md text-lg">Donate</button>
                        </div>
                    </div>
                </div>
                <div class="pt-3">
                    <div class="shadow-lg w-80" data-aos="flip-left">
                        <div class="pl-7 pt-10"  style="padding-left: 2.2rem; ">
                            <img src="static/assets/help for education.png" alt="medical">
                        </div>
                        <div class="pl-14 pt-4 font-bold text-yellow-300">
                            <h1>Education</h1>
                        </div>
                        <div class="pl-14 pt-3 pb-2 font-bold text-lg">
                            <h2>Help For Education</h2>
                            </div>
                        <div class="pl-14 pt-3">
                            <p>Lorem ipsum dolor sit amet, consete <br>
                                sadipscing elitr, sed diam nonumy....</p>
                            </div>
                        <div class="flex">
                            <div class="pl-14 pt-4 font-bold">
                                <h2>Donate</h2>
                            </div>
                            <div class="pl-48 pt-4">
                                <h1>60%</h1>
                            </div>
                        </div>
                        <div class="pl-14 pt-1">
                            <div class="h-2 bg-gray-600 dark:bg-red" style="width: 80%;">
                                <div class="h-2 bg-yellow-400" style="width: 60%"></div>
                              </div>
                            </div>
                        <div class="flex">
                            <div class="pl-14 pt-4">
                                <h2>Raised:Rs 9000</h2>
                            </div>
                            <div class="pl-16 pt-4">
                                <h1>Goal: Rs 10,000</h1>
                            </div>
                        </div>
                        <div class="pl-14 pt-2 pb-8">
                            <button class="bg-white border-yellow-300 text-yellow-300 hover:bg-yellow-300 hover:text-white w-28 rounded-md text-lg">Donate</button>
                        </div>
                    </div>
                </div>
                <div class="pt-3">
                    <div class="shadow-lg w-80" data-aos="flip-left">
                        <div class="pl-7 pt-10"  style="padding-left: 2.2rem; ">
                            <img src="static/assets/Help for food.png" alt="Homeless">
                        </div>
                        <div class="pl-14 pt-4 font-bold text-yellow-300">
                            <h1>Food</h1>
                        </div>
                        <div class="pl-14 pt-3 pb-2 font-bold text-lg">
                            <h2>Help For Food</h2>
                            </div>
                        <div class="pl-14 pt-3">
                            <p>Lorem ipsum dolor sit amet, consete <br>
                                sadipscing elitr, sed diam nonumy....</p>
                            </div>
                        <div class="flex">
                            <div class="pl-14 pt-4 font-bold">
                                <h2>Donate</h2>
                            </div>
                            <div class="pl-48 pt-4">
                                <h1>60%</h1>
                            </div>
                        </div>
                        <div class="pl-10 pt-1">
                            <div class="h-2 bg-gray-600 dark:bg-red" style="width: 80%;">
                                <div class="h-2 bg-yellow-400" style="width: 60%"></div>
                              </div>
                            </div>
                        <div class="flex">
                            <div class="pl-14 pt-4">
                                <h2>Raised:Rs 9000</h2>
                            </div>
                            <div class="pl-16 pt-4">
                                <h1>Goal: Rs 10,000</h1>
                            </div>
                        </div>
                        <div class="pl-14 pt-2 pb-8">
                            <button class="bg-white border-yellow-300 text-yellow-300 hover:bg-yellow-300 hover:text-white w-28 rounded-md text-lg">Donate</button>
                        </div>
                    </div>
                </div>
            </div>
              <div data-aos="fade-right" class="text-red-500 font-bold pl-28 pt-10">
                <h1>TO BE GIVEN _______________</h1>
              </div>
              <div class="text-3xl font-bold pl-28 pt-4" data-aos="fade-up">
                <h1>We Believe that We can Save <br>
                  More Lifes with you</h1>
              </div>
              <div class="xl:flex mlg:flex lg:flex md:block sm:block xl:pl-28 mlg:pl-28 lg:pl-28 md:pl-16 sm:pl-8">
                <div class="pl-8 pt-10" data-aos="flip-right">
                  <img src="static/assets/people rised.png" alt="rised">
                </div>
                <div class="pl-8 pt-10" data-aos="flip-right">
                  <img src="static/assets/volunteer.png" alt="volunteer">
                </div>
                <div class="pl-8 pt-10" data-aos="flip-right">
                  <img src="static/assets/people saved.png" alt="saved">
                </div>
                <div class="pl-8 pt-10" data-aos="flip-right">
                  <img src="static/assets/member.png" alt="member">
                </div>
              </div>
              <div class="">
                <div class="font-bold mt-20 ml-28 h-96" style="background-image: url(static/assets/BG.png); background-repeat: no-repeat;">
                  <h2 class=" pt-32 text-5xl text-center text-white">You can contribute to provide a place <br>
                    for children with special needs!</h2>
                    <div class="xl:flex mlg:flex lg:flex md:flex sm:flexs content-center">
                      <div class="xl:pl-96 xl:pt-12 mlg:pl-60 mlg:pt-20">
                        <button class="bg-yellow-300 hover:bg-white hover:text-black h-11 w-40 font-semibold rounded-md">Join as a volunteer</button>
                      </div>
                      <div class="pl-40 pt-12  border-yellow-300">
                        <button class="bg-white hover:bg-yellow-300 hover:text-black h-10 w-28 font-semibold rounded-md">Donate</button>
                      </div>
                    </div>
                </div>
              </div> 
              <div class="pt-40 text-center">
                <h1 class="pt-10 font-semibold" style="background-color: rgba(254, 234, 171, 1);">our Testimonials</h1>
              </div>
              <div class="pt-10 text-center font-bold text-3xl" style="background-color: rgba(254, 234, 171, 1);">
                <h1>What People Say</h1>
              </div>
              <div class="flex" style="background-color: rgba(254, 234, 171, 1);">
                <div class="pt-24 pl-60">
                  <img src="static/assets/left.png" class="w-full" alt="left">
                </div>
                <div class=" pt-14 pl-20 ml-80">
                  <img src="static/assets/profile.png" class="w-full" alt="profile">
                </div>
                <div class="pt-24 pl-96">
                  <img src="static/assets/right.png" class="w-full" alt="right">
                </div>
              </div>
              <div class="text-center pt-5" style="background-color: rgba(254, 234, 171, 1);">
                <h1 class="font-semibold">Cameron Williamson</h1>
              </div>
              <div class="text-center pt-3" style="background-color: rgba(254, 234, 171, 1);">
                <h3>Founder</h3>
              </div>
              <div class="text-center pt-5 font-semibold pb-10" style="background-color: rgba(254, 234, 171, 1);">
                <p>Sea chub demoiselle whalefish zebra lionfish mud cat pelican eel. Minnow snoek icefish velvet-belly shark, California <br>
                  halibut round stingray northern sea robin. Southern grayling trout-perchSharksucker sea toad candiru rocket <br>
                  danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata.</p>
              </div>
              {% endblock %}
          </div>
          <footer class="overflow-x-hidden">
            <div class="font-extrabold text-center bg-yellow-400 h-16">
              <h1 class="pt-6 cursor-pointer">Back to top</h1>
            </div>
            <div class="xl:flex mlg:flex lg:block md:block sm:block xl:pl-20 mlg:pl-20 lg:pl-10 md:pl-10 sm:pl-10 ss:pl-10 xs:pl-10 bg-black text-white pb-20">
              <div class="flex xl:pl-20 mlg:pl-20 lg:pl-10 md:pl-10 sm:pl-7 xl:text-sm mlg:text-sm lg:text-sm md:text-sm sm:text-sm xs:text-xs ss:text-xs">
                <div>
                <div class="pt-28 font-bold">
                <a class="xl:pl-60 mlg:pl-40 lg:pl-40 md:pl-20 sm:pl-16 ss:pl-20 xs:pl-20" href="">Home</a>
              </div>
              <div class="pt-5">
                <a class="xl:pl-60 mlg:pl-40 lg:pl-40 md:pl-20 sm:pl-16 ss:pl-20 xs:pl-20" href="">AboutUS</a>
              </div>
              <div class="pt-5">
                <a class="xl:pl-60 mlg:pl-40 lg:pl-40 md:pl-20 sm:pl-16 ss:pl-20 xs:pl-20" href="">Ourservices</a>
              </div>
              <div class="pt-5">
                <a class="xl:pl-60 mlg:pl-40 lg:pl-40 md:pl-20 sm:pl-16 ss:pl-20 xs:pl-20" href="">Getinvolved</a>
              </div>
              <div class="pt-5">
                <a class="xl:pl-60 mlg:pl-40 lg:pl-40 md:pl-20 sm:pl-16 ss:pl-20 xs:pl-20" href="">Causes</a>
              </div>
            </div>
            <div>
              <div class="pt-28 font-bold">
                <a class="pl-36" href="">More</a>
              </div>
              <div class="pt-5">
                <a class="pl-36" href="">FAQ's</a>
              </div>
              <div class="pt-5">
                <a class="pl-36" href="">ContactUS</a>
              </div>
              <div class="pt-5">
                <a class="pl-36" href="">Donate</a>
              </div>
              <div class="pt-5">
                <a class="pl-36" href="">Blog</a>
              </div>
            </div>
            <div>
              <div class="pt-28 font-bold">
                <a class="pl-36" href="">Connect</a>
              </div>
              <div class="pt-5">
                <a class="pl-36" href="">Facebook</a>
              </div>
              <div class="pt-5">
                <a class="pl-36" href="">Instagram</a>
              </div>
              <div class="pt-5">
                <a class="pl-36" href="">Twitter</a>
              </div>
              <div class="pt-5">
                <a class="pl-36" href="">Linkedin</a>
              </div>
            </div>
          </div>
          <div class="block pt-32 pl-32">
            <div class="text-4xl font-bold">
              <h1>Subscribe to get latest <br>
              updates</h1>
          </div>
          <div class="mb-3 pt-7">
            <div class="relative mb-4 flex h-14 rounded-md w-10/11 bg-black flex-wrap items-stretch">
              <input
              type="search"
              class="relative m-0 -mr-0.5 block w-[1px] min-w-0 flex-auto rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-black focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                placeholder="Your email"
                aria-label="Search"
                aria-describedby="button-addon1" />
                  
              <script>// Initialization for ES Users
                import {
                  Ripple,
                  initTE,
                } from "tw-elements";
                
                initTE({ Ripple });</script>
                <button
                class="relative z-[2] flex items-center rounded-r bg-white px-6 py-2.5 text-xs font-medium uppercase leading-tight text-black shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
                type="button"
                id="button-addon1"
                data-te-ripple-init
                data-te-ripple-color="light">
                Subscribe
              </button>
            </div>
          </div>
        </div>
        </div>
        </footer>
        </main>
        </body> 
        </html>
