<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>causes</title>
    <link rel="stylesheet" href="causes.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://kit.fontawesome.com/35af595706.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topic">
        <h3>latest causes ___________</h3>
        <h1>find the popular cause</h1>
        <h1>ans donate them</h1>
    </div>


<!--swipper-->
<div class="causes-box">
<section class="causes" id="causes">
    <div class="swiper causes-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="C:\Users\Shalini Mariappan\Downloads\med.jpg" width="100%">
                <h3>medical</h3>
                <h1>donate for poor peoples treatment and medicine.</h1>
                <h4>Lorem ipsum dolor sit amet consectetur soney adipisicing elit. sun Adipisci et alias facere...</h4>
                <div class="skill-box">
                    <h2>donatone</h2>
                    <div class="skill-bar">
                    <span class="skill-per">
                        <span class="tooltip">60%</span>
                    </span>
                    </div>
                </div>
                <div class="raised">
                <h4>raised: rs 9000</h4>
                </div>
                <!--goal
                <div class="goal">
                    <h4>goal: rs 10,000</h4>
                </div>-->
                <a href="#" class="btn">donate now</a>
            </div>
            <div class="swiper-slide box">
                <img src="C:\Users\Shalini Mariappan\Downloads\med.jpg" width="100%">
                <h3>medical</h3>
                <h1>donate for poor peoples treatment and medicine.</h1>
                <h4>Lorem ipsum dolor sit amet consectetur soney adipisicing elit. sun Adipisci et alias facere...</h4>
                <div class="skill-box">
                    <h2>donatone</h2>
                    <div class="skill-bar">
                    <span class="skill-per">
                        <span class="tooltip">60%</span>
                    </span>
                    </div>
                </div>
                <div class="raised">
                <h4>raised: rs 9000</h4>
                </div>
                <!--goal
                <div class="goal">
                    <h4>goal: rs 10,000</h4>
                </div>-->
                <a href="#" class="btn">donate now</a>
            </div>
            <div class="swiper-slide box">
                <img src="C:\Users\Shalini Mariappan\Downloads\med.jpg" width="100%">
                <h3>medical</h3>
                <h1>donate for poor peoples treatment and medicine.</h1>
                <h4>Lorem ipsum dolor sit amet consectetur soney adipisicing elit. sun Adipisci et alias facere...</h4>
                <div class="skill-box">
                    <h2>donatone</h2>
                    <div class="skill-bar">
                    <span class="skill-per">
                        <span class="tooltip">60%</span>
                    </span>
                    </div>
                </div>
                <div class="raised">
                <h4>raised: rs 9000</h4>
                </div>
                <!--goal
                <div class="goal">
                    <h4>goal: rs 10,000</h4>
                </div>-->
                <a href="#" class="btn">donate now</a>
            </div>
            <div class="swiper-slide box">
                <img src="C:\Users\Shalini Mariappan\Downloads\med.jpg" width="100%">
                <h3>medical</h3>
                <h1>donate for poor peoples treatment and medicine.</h1>
                <h4>Lorem ipsum dolor sit amet consectetur soney adipisicing elit. sun Adipisci et alias facere...</h4>
                <div class="skill-box">
                    <h2>donatone</h2>
                    <div class="skill-bar">
                    <span class="skill-per">
                        <span class="tooltip">60%</span>
                    </span>
                    </div>
                </div>
                <div class="raised">
                <h4>raised: rs 9000</h4>
                </div>
                <!--goal
                <div class="goal">
                    <h4>goal: rs 10,000</h4>
                </div>-->
                <a href="#" class="btn">donate now</a>
            </div>
            <div class="swiper-slide box">
                <img src="C:\Users\Shalini Mariappan\Downloads\med.jpg" width="100%">
                <h3>medical</h3>
                <h1>donate for poor peoples treatment and medicine.</h1>
                <h4>Lorem ipsum dolor sit amet consectetur soney adipisicing elit. sun Adipisci et alias facere...</h4>
                <div class="skill-box">
                    <h2>donatone</h2>
                    <div class="skill-bar">
                    <span class="skill-per">
                        <span class="tooltip">60%</span>
                    </span>
                    </div>
                </div>
                <div class="raised">
                <h4>raised: rs 9000</h4>
                </div>
                <!--goal
                <div class="goal">
                    <h4>goal: rs 10,000</h4>
                </div>-->
                <a href="#" class="btn">donate now</a>
            </div>
            <div class="swiper-slide box">
                <img src="C:\Users\Shalini Mariappan\Downloads\med.jpg" width="100%">
                <h3>medical</h3>
                <h1>donate for poor peoples treatment and medicine.</h1>
                <h4>Lorem ipsum dolor sit amet consectetur soney adipisicing elit. sun Adipisci et alias facere...</h4>
                <div class="skill-box">
                    <h2>donatone</h2>
                    <div class="skill-bar">
                    <span class="skill-per">
                        <span class="tooltip">60%</span>
                    </span>
                    </div>
                </div>
                <div class="raised">
                <h4>raised: rs 9000</h4>
                </div>
                <!--goal
                <div class="goal">
                    <h4>goal: rs 10,000</h4>
                </div>-->
                <a href="#" class="btn">donate now</a>
            </div>
            <div class="swiper-slide box">
                <img src="C:\Users\Shalini Mariappan\Downloads\med.jpg" width="100%">
                <h3>medical</h3>
                <h1>donate for poor peoples treatment and medicine.</h1>
                <h4>Lorem ipsum dolor sit amet consectetur soney adipisicing elit. sun Adipisci et alias facere...</h4>
                <div class="skill-box">
                    <h2>donatone</h2>
                    <div class="skill-bar">
                    <span class="skill-per">
                        <span class="tooltip">60%</span>
                    </span>
                    </div>
                </div>
                <div class="raised">
                <h4>raised: rs 9000</h4>
                </div>
                <!--goal
                <div class="goal">
                    <h4>goal: rs 10,000</h4>
                </div>-->
                <a href="#" class="btn">donate now</a>
            </div>
        </div>
    </div>
    <div class="swiper causes-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="C:\Users\Shalini Mariappan\Downloads\med.jpg" width="100%">
                <h3>medical</h3>
                <h1>donate for poor peoples treatment and medicine.</h1>
                <h4>Lorem ipsum dolor sit amet consectetur soney adipisicing elit. sun Adipisci et alias facere...</h4>
                <div class="skill-box">
                    <h2>donatone</h2>
                    <div class="skill-bar">
                    <span class="skill-per">
                        <span class="tooltip">60%</span>
                    </span>
                    </div>
                </div>
                <div class="raised">
                <h4>raised: rs 9000</h4>
                </div>
                <!--goal
                <div class="goal">
                    <h4>goal: rs 10,000</h4>
                </div>-->
                <a href="#" class="btn">donate now</a>
            </div>
            <div class="swiper-slide box">
                <img src="C:\Users\Shalini Mariappan\Downloads\med.jpg" width="100%">
                <h3>medical</h3>
                <h1>donate for poor peoples treatment and medicine.</h1>
                <h4>Lorem ipsum dolor sit amet consectetur soney adipisicing elit. sun Adipisci et alias facere...</h4>
                <div class="skill-box">
                    <h2>donatone</h2>
                    <div class="skill-bar">
                    <span class="skill-per">
                        <span class="tooltip">60%</span>
                    </span>
                    </div>
                </div>
                <div class="raised">
                <h4>raised: rs 9000</h4>
                </div>
                <!--goal
                <div class="goal">
                    <h4>goal: rs 10,000</h4>
                </div>-->
                <a href="#" class="btn">donate now</a>
            </div>
            <div class="swiper-slide box">
                <img src="C:\Users\Shalini Mariappan\Downloads\med.jpg" width="100%">
                <h3>medical</h3>
                <h1>donate for poor peoples treatment and medicine.</h1>
                <h4>Lorem ipsum dolor sit amet consectetur soney adipisicing elit. sun Adipisci et alias facere...</h4>
                <div class="skill-box">
                    <h2>donatone</h2>
                    <div class="skill-bar">
                    <span class="skill-per">
                        <span class="tooltip">60%</span>
                    </span>
                    </div>
                </div>
                <div class="raised">
                <h4>raised: rs 9000</h4>
                </div>
                <!--goal
                <div class="goal">
                    <h4>goal: rs 10,000</h4>
                </div>-->
                <a href="#" class="btn">donate now</a>
            </div>
            <div class="swiper-slide box">
                <img src="C:\Users\Shalini Mariappan\Downloads\med.jpg" width="100%">
                <h3>medical</h3>
                <h1>donate for poor peoples treatment and medicine.</h1>
                <h4>Lorem ipsum dolor sit amet consectetur soney adipisicing elit. sun Adipisci et alias facere...</h4>
                <div class="skill-box">
                    <h2>donatone</h2>
                    <div class="skill-bar">
                    <span class="skill-per">
                        <span class="tooltip">60%</span>
                    </span>
                    </div>
                </div>
                <div class="raised">
                <h4>raised: rs 9000</h4>
                </div>
                <!--goal
                <div class="goal">
                    <h4>goal: rs 10,000</h4>
                </div>-->
                <a href="#" class="btn">donate now</a>
            </div>
            <div class="swiper-slide box">
                <img src="C:\Users\Shalini Mariappan\Downloads\med.jpg" width="100%">
                <h3>medical</h3>
                <h1>donate for poor peoples treatment and medicine.</h1>
                <h4>Lorem ipsum dolor sit amet consectetur soney adipisicing elit. sun Adipisci et alias facere...</h4>
                <div class="skill-box">
                    <h2>donatone</h2>
                    <div class="skill-bar">
                    <span class="skill-per">
                        <span class="tooltip">60%</span>
                    </span>
                    </div>
                </div>
                <div class="raised">
                <h4>raised: rs 9000</h4>
                </div>
                <!--goal
                <div class="goal">
                    <h4>goal: rs 10,000</h4>
                </div>-->
                <a href="#" class="btn">donate now</a>
            </div>
            <div class="swiper-slide box">
                <img src="C:\Users\Shalini Mariappan\Downloads\med.jpg" width="100%">
                <h3>medical</h3>
                <h1>donate for poor peoples treatment and medicine.</h1>
                <h4>Lorem ipsum dolor sit amet consectetur soney adipisicing elit. sun Adipisci et alias facere...</h4>
                <div class="skill-box">
                    <h2>donatone</h2>
                    <div class="skill-bar">
                    <span class="skill-per">
                        <span class="tooltip">60%</span>
                    </span>
                    </div>
                </div>
                <div class="raised">
                <h4>raised: rs 9000</h4>
                </div>
                <!--goal
                <div class="goal">
                    <h4>goal: rs 10,000</h4>
                </div>-->
                <a href="#" class="btn">donate now</a>
            </div>
            <div class="swiper-slide box">
                <img src="C:\Users\Shalini Mariappan\Downloads\med.jpg" width="100%">
                <h3>medical</h3>
                <h1>donate for poor peoples treatment and medicine.</h1>
                <h4>Lorem ipsum dolor sit amet consectetur soney adipisicing elit. sun Adipisci et alias facere...</h4>
                <div class="skill-box">
                    <h2>donatone</h2>
                    <div class="skill-bar">
                    <span class="skill-per">
                        <span class="tooltip">60%</span>
                    </span>
                    </div>
                </div>
                <div class="raised">
                <h4>raised: rs 9000</h4>
                </div>
                <!--goal
                <div class="goal">
                    <h4>goal: rs 10,000</h4>
                </div>-->
                <a href="#" class="btn">donate now</a>
            </div>
        </div>
    </div>
</section>
</div>



    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".causes-slider", {
    loop:true,
    slidesPerView: 1,
    spaceBetween: 10,
    autoplay: {
        delay: 7500,
        disableOnInteraction: false,
    },
    centeredSlides: true,
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      1020: {
        slidesPerView: 3,
      },
      1350: {
        slidesPerView: 4,
      },
    },
  });
</script>
</body>
</html>