<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>donate</title>
    <link rel="stylesheet" href="/static/donate.css">
    <script src="https://kit.fontawesome.com/35af595706.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo"><i class="fa-solid fa-star"></i>maha akshaya sivam trust</a>
        <nav class="navbar">
                <a href="#">home</a>
                <a href="#">about us</a>
                <a href="#">our services</a>
                <a href="#">get involved</a>
                <a href="#">causes</a>
                <a href="#">FAQ's</a>
                <a href="#">contact us</a>
                <div class="btn">
                <a href="#" class="btn">donate now</a>
                </div>
        </nav>
    </header>
<div class="top">
    <div class="h">
    <h1>Donate for poor peoples</h1>
    <h1>treatment and medicine</h1>
    <h2>donating poor people.</h2>
    </div>
    <img src="/static/assets/Rectangle 2943.png" alt="">
    <div class="skill">
    <div class="skill-box">
        <h2>donatone</h2>
        <h3>60%</h3>
        <div class="skill-bar">
        <span class="skill-per">
            <span class="tooltip">60%</span>
        </span>
        </div>
        <div class="raised">
            <h4>raised: rs 9000</h4>
            <h3>goal:$1000</h3>
        </div>
    </div>
    </div>
    <div class="donate">
        <h2>Donate for poor peoples treatment and medicine.</h2>
        <p>Flyingfish Kafue pike cow shark California smoothtongue golden loach temperate ocean-bass gulper
            Sailbearer kanyu porcupinefish Kafue pike opah sunfish gudgeon boga Asiatic glassfish tadpole fish!
            Alewife, poacher airbreathing catfish; zebra tilapia northern pearleye naked-back knifefish pupfish
            dojo loach, “snake mackerel bonytail chub arapaima horsefish weasel shark.”</p>
            <p>Asian carps sailback scorpionfish; dragon goby lemon sole triplefin blenny hog sucker. Smelt sleeper
                shovelnose sturgeon merluccid hake cow shark herring smelt trout-perch barbeled houndshark.
                Shell-ear Asian carps blackfish Port Jackson shark Atlantic saury. Sacramento blackfish pricklefish,
                Atlantic cod, “driftwood catfish chimaera ribbonfish, marblefish worm eel smelt mora gray
                reef shark scabbard fish.”</p>
        <img src="/static/assets/Rectangle 2848.png" alt="">
        </div>
        <div class="challenges">
        <h2>challenges</h2>
        <p>Best quality only happens when you care enough to do your best. Steer companies away from risky
            denounce with righteous indignation who are so beguiled and demoralized by pleasure of the</p>
        <p>Flyingfish Kafue pike cow shark California smoothtongue golden loach temperate ocean-bass gulper
            kanyu porcupinefish Kafue pike opah sunfish gudgeon boga Asiatic glassfish tadpole fish! Alewife
            airbreathing catfish; zebra tilapia northern pearleye naked-back knifefish pupfish dojo loach.
            mackerel bonytail chub arapaima horsefish weasel shark.”
        </p>
        <p>Asian carps sailback scorpionfish; dragon goby lemon sole triplefin blenny hog sucker. Smelt sleeper
            sturgeon merluccid hake cow shark herring smelt trout-perch barbeled houndshark. Shell-ear Asian
            blackfish Port Jackson shark Atlantic saury. Sacramento blackfish pricklefish, Atlantic cod, “driftwood
            catfish chimaera ribbonfish, marblefish worm eel smelt mora gray reef shark scabbard fish.”</p>
        <img src="/static/assets/Logo row.png" alt="">
        </div>
    </div>
</div>