<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get_involved</title>
    <link rel="stylesheet" href="gets.css">
    <script src="https://kit.fontawesome.com/35af595706.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://kit.fontawesome.com/35af595706.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo"><i class="fa-solid fa-star"></i>maha akshaya sivam trust</a>
        <nav class="navbar">
                <a href="#">home</a>
                <a href="#">about us</a>
                <a href="#">our services</a>
                <a href="#">get involved</a>
                <a href="#">causes</a>
                <a href="#">FAQ's</a>
                <a href="#">contact us</a>
                <div class="btn">
                <a href="#" class="btn">donate now</a>
                </div>
        </nav>
    </header>
    <div class="get">
        <h1>get involved</h1>
    </div>
    <div class="container">
        <div class="text">
            <h4>GET INVOLVED_________</h4>
            <h1>Join Our Team of Volunteers!</h1>
            <p>At Maha Akshaya Sivam Trust, we are constantly seeking innovative ways to expand our reach and make a greater impact in the lives of those in need. We welcome passionate individuals who wish to be part of our transformative journey and contribute their time, skills, and dedication towards creating a more equitable and compassionate society. Here are some new and exciting volunteer opportunities to join our trust's initiatives:</p>
        </div>
            <div class="image">
                <img src="C:\Users\Shalini Mariappan\Downloads\unsplash_Oalh2MojUuk.png" alt="" width="400%">
            </div>
    </div>
    <div class="content">
        <h1>1. Community Outreach Champions</h1>
        <p>Become a vital link between the trust and the community by organizing awareness campaigns, fundraising events, and engaging with local stakeholders to foster support for our initiatives.</p>
        <h1>2. Education Mentors</h1>
        <p>Share your knowledge and expertise by mentoring underprivileged students. Offer guidance, motivation, and academic support to help them achieve their educational goals.</p>
        <h1>3. Healthcare Ambassadors</h1>
        <p>1. Collaborate with medical professionals to organize health camps and initiatives that provide free medical check-ups, vaccinations, and health education to underserved communities.</p>
        <h1>4. Sustainability Enthusiasts</h1>
        <p>1. Advocate for environmentally-friendly practices within the trust's initiatives. Introduce eco-friendly measures, promote waste reduction, and raise awareness about the importance of sustainability.</p>
        <h1>5. Creative Artists</h1>
        <p>Express compassion through art, music, and creative workshops. Organize events that promote healing and positivity among the beneficiaries of the trust.</p>
        <h1>6. Storytellers and Content Creators</h1>
        <p>Inspire through storytelling and multimedia content creation. Capture the impact of our initiatives and share heartwarming stories to motivate others to join our cause.</p>
        <h1>7. Nutrition Champions</h1>
        <p>As a Nutrition Champion, you can play a vital role in ensuring that our food services offer nutritious and balanced meals to those in need. Create menus that cater to varying dietary requirements and provide essential nourishment to beneficiaries</p>
        <h1>8. Food Preparation Volunteers</h1>
        <p>1. Join our kitchen team and engage in food preparation for our beneficiaries. Your culinary expertise will ensure that every meal served is not only delicious but also meets the highest standards of hygiene.</p>
        <h1>9. Language and Skill Trainers</h1>
        <p>Teach basic language skills, computer literacy, and vocational training to enhance the employability and self-sufficiency of individuals seeking a better future.</p>
        <h1>10. Digital Advocates</h1>
        <p>Utilize the power of social media and online platforms to spread our message of compassion and attract support for the trust's programs. Create engaging content, share success stories, and raise awareness about our key themes.</p>
    </div>
    <div class="form-name">
    <div class="box">
        <h1>fill this to be part of volunteer!!</h1>
    </div>
    <form class="form">
    <div class="form-control">
        <div class="fname">
        <label>first name</label> 
        <input type="text" placeholder="your first name" id="firstname">   
        </div>
        <div class="lname">
        <label>last name</label> 
        <input type="text" placeholder="your last name" id="lastname">
        </div>
    </div>
    <div class="form-control1">
        <div class="mail">
        <label>mail id</label> 
        <input type="text" placeholder="your mail" id="mail"> 
        </div> 
        <div class="contact">
        <label>phone</label> 
        <input type="text" placeholder="+91" id="phone">
        </div>
    </div>
        <div class="message">
            <label>message</label>
            <input type="text" placeholder="type your message here..." id="message">
        </div>
    <div class="btnn">send message</div>
    </form>
    </div>
    </body>