<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get_involved</title>
    <link rel="stylesheet" href="gets2.css">
    <script src="https://kit.fontawesome.com/35af595706.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo"><i class="fa-solid fa-star"></i>maha akshaya sivam trust</a>
        <nav class="navbar">
                <a href="#">home</a>
                <a href="#">about us</a>
                <a href="#">our services</a>
                <a href="#">get involved</a>
                <a href="#">causes</a>
                <a href="#">FAQ's</a>
                <a href="#">contact us</a>
                <div class="btn">
                <a href="#" class="btn">donate now</a>
                </div>
        </nav>
    </header>
    <div class="get">
        <h1>get involved</h1>
    </div>
    <div class="container">
        <div class="text">
            <h4>GET INVOLVED_________</h4>
            <h1>Join Our Team of Volunteers!</h1>
            <p>At Maha Akshaya Sivam Trust, we are constantly seeking innovative ways to expand our reach and make a greater impact in the lives of those in need. We welcome passionate individuals who wish to be part of our transformative journey and contribute their time, skills, and dedication towards creating a more equitable and compassionate society. Here are some new and exciting volunteer opportunities to join our trust's initiatives:</p>
        </div>
            <div class="image">
                <img src="C:\Users\Shalini Mariappan\Downloads\unsplash_Oalh2MojUuk.png" alt="" width="400%">
            </div>
    </div>