<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href=
"https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
          rel="stylesheet">
          <style>
             /* colors:{
        'primary':'rgba(11, 7, 6, 1)',
        'secondary':'rgba(242, 201, 76, 1)',
      } */
          </style>
</head>
<body>
    <div>
        <div>
      <nav class="">
        <div class="bg-primary flex pb-6 pt-3">
          <h2 class="mt-5 ml-20">
            Yugaas Tech
          </h2>
          <div class="flex justify-center mt-5 ml-52 px-32">
            <div class="mr-7">
              <a href="">
                Home
              </a>
            </div>
            <div class="mr-7">
              <a href="">
                About US
              </a>
            </div>
            <div class="mr-7">
              <a href="">
                Ourservices
              </a>
            </div>
            <div class="mr-7">
              <a href="">
                Causes
              </a>
            </div>
            <div class="mr-7">
              <a href="">
                FAQ's
              </a>
            </div>
            <div class="mr-7">
              <a href="">
                Contact Us
              </a>
            </div>
          </div>
          <div class="mt-2 ml-32 bg-secondary text-black font-bold rounded-md">
            <button class="h-12 w-40">Donate Now</button>
          </div>
        </div>

      </nav>
    </div>
    </div>
</body>
</html>