<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>our services</title>
    <link rel="stylesheet" href="../static/service.css">
    <script src="https://kit.fontawesome.com/35af595706.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo"><i class="fa-solid fa-star"></i>maha akshaya sivam trust</a>
        <nav class="navbar">
                <a href="#">home</a>
                <a href="#">about us</a>
                <a href="#">our services</a>
                <a href="#">get involved</a>
                <a href="#">causes</a>
                <a href="#">FAQ's</a>
                <a href="#">contact us</a>
                <div class="btn">
                <a href="#" class="btn">donate now</a>
                </div>
        </nav>
    </header>
    <div class="container">
        <div class="text">
        <h4>OUR SERVICES ______</h4>
        <h2>empowering communities,one step at a time</h2>
        <p>at <b>maha akshaya sivam trust</b>,we draw profound inspiration from the teachings of revered spiritual leaders such as kanchi maha periva,yogi ramsuratkumar,and gnananda swamigal.these guided lights,along with sacred scriptures and eminent personalities,inspire our mission to provide food,education and medical facilities to those in need.these key themes embody the essence of compassion,wisdom,and selfless services that form the core of our organization's philosophy.</p>
        <h1>__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</h1>
        </div>
        <div class="image">
            <img src="/static/assets/Croods The Feedback.png" alt="">
        </div>
    </div>
    <div class="key">
        <h1>our key themes</h1>
    </div>
    <div class="content">
        <h1>Food - Nourishing Bodies, Nurturing Souls</h1>
        <h3>“Feeding the Hungry, Touching Hearts”</h3>
        <h7>In the spirit of compassion and humanity, we recognize the profound teachings of Kanchi Maha Periva,who emphasized the importance of serving others as a means of serving the divine. Our Food initiative reflects the essence of selfless service, where we provide nutritious meals to the hungry, mirroring the compassion of spiritual luminaries like Yogi Ramsuratkumar,whose life is going.</h7>
        <h1>Education - Illuminating Minds, Igniting Dreams</h1>
        <h3> “Empowering Minds, Creating Opportunities”</h3>
        <h7>The teachings of Gnanananda Swamigal echo in our Education initiative, emphasizing the significance of knowledge and wisdom. In line with the teachings of Ramayana and Mahabharata, "Knowledge is the greatest wealth one can possess." Our Education initiative embodies the wisdom of ancient scriptures, as well as the vision of Vivekananda, who emphasized the importance of education for holistic development. Through scholarships and mentorship programs, we empower underprivileged individuals with the gift of knowledge, igniting their dreams and kindling the flame of wisdom within.</h7>
        <h1>Medical Facilities - Healing Hearts, Renewing Hope</h1>
        <h3> “Extending Care, Enhancing Lives”</h3>
        <h7>Drawing inspiration from the compassionate guidance of Sri Sivan Saar, who served as a guiding light to many, we approach our Medical Facilities initiative with a spirit of humility and empathy. Sri Sivan Saar instructed and inspired numerous people on how to serve others with compassion and love. Embracing the teachings of Bhagavad Gita and Vivekananda's emphasis on selfless service, we aim to bridge the gap between healthcare and the underprivileged. By offering accessible medical care, we renew hope and alleviate suffering, making a tangible difference in their lives.</h7>
    </div>
    <div class="together">
        <h1>Together, We Create <span>Lasting Impact</span></h1>
        <p>At Maha Akshaya Sivam Trust, our key themes of Food, Education, and Medical Facilities are not just isolated initiatives; they represent the essence of our commitment to empowering lives holistically. Embracing the teachings of spiritual leaders and the wisdom of sacred texts, we strive to create a world where compassion, knowledge, and healing are accessible to all.</p>
        <img src="/static/assets/unsplash_dWYU3i-mqEo.png" alt="">
        <h1>Providing Affordable and Free Services:</h1>
        <h2><span>“Illuminating Lives with Compassion”</span></h2>
        <p>At Maha Akshaya Sivam Trust, our unwavering commitment lies in ensuring that no one is deprived of basic necessities, including food, education, and medical facilities, due to financial constraints. Embodying the teachings of compassion and selfless service, we have meticulously designed a range of affordable and free services to reach out to those in need, fostering an environment of inclusivity and dignity for all.</p>
    </div>
    <div class="containers">
        <div class="images">
            <img src="/static/assets/Frame 37939.png" alt="" >
        </div>
        <div class="text">
            <h2>Affordable Food Services: 
            Nourishing Bodies, Uplifting Spirits</h2>
            <p>In the spirit of serving humanity, our Food Services initiative endeavors to provide affordable, hygienic, and nutritious meals to those facing economic hardships. Through partnerships with local communities, food distribution centers, and generous donors, we ensure that the hungry are fed with dignity and love. We strive to keep the costs minimal, ensuring that access to nutritious food becomes a reality for those who need it the most.</p>
        </div>
    </div>
    <div class="container">
        <div class="text">
            <h2>Education Sponsorships: 
            Empowering Minds, Igniting Dreams 
            Spirits</h2>
            <p>Our Education Sponsorship program seeks to empower underprivileged children and adults with access to quality education. We provide scholarships, learning resources, and mentorship opportunities, ensuring that financial constraints do not hinder the pursuit of knowledge. By nurturing young minds and offering a ladder of opportunity, we envision a future where education paves the way for a brighter tomorrow.</p>
        </div>
        <div class="image">
            <img src="/static/assets/unsplash_g32g_IBprFA.png" alt="">
        </div>
    </div>
    <div class="container">
        <div class="text">
            <h2>Free Medical Facilities: 
                Healing Hearts, Easing Burdens</h2>
            <p>line with the compassionate teachings of our guiding spiritual leaders, we believe that quality healthcare is a fundamental right for all. Through our Free Medical Facilities initiative, we organize charitable medical camps, partner with healthcare providers, and collaborate with generous medical professionals to offer essential healthcare services at no cost to the underprivileged. We strive to alleviate the burden of medical expenses, providing hope and healing to those who require it the most.</p>
        </div>
        <div class="image">
            <img src="/static/assets/unsplash_g32g_IBprFA (1).png" alt="">
        </div>
    </div>
    <div class="containers">
        <div class="images">
            <img src="/static/assets/unsplash_g32g_IBprFA (2).png" alt="">
        </div>
        <div class="text">
            <h2>Affordable Food Services: 
            Nourishing Bodies, Uplifting Spirits</h2>
            <p>In the spirit of serving humanity, our Food Services initiative endeavors to provide affordable, hygienic, and nutritious meals to those facing economic hardships. Through partnerships with local communities, food distribution centers, and generous donors, we ensure that the hungry are fed with dignity and love. We strive to keep the costs minimal, ensuring that access to nutritious food becomes a reality for those who need it the most.</p>
        </div>
    </div>
    <div class="together">
        <h2>Together, We Illuminate Lives with<span>Love and Service</span></h2>
        <p>At Maha Akshaya Sivam Trust, our affordable and free services are not just initiatives; they are a testament to our belief in the power of compassion and unity. Inspired by the teachings of spiritual leaders and the wisdom of sacred scriptures, we strive to make a positive impact on the lives of those facing adversity.</p>
        <p>Join us in our journey to empower lives through nourishment, knowledge, and healing, embodying the teachings of great souls like Kanchi Maha Periva, Yogi Ramsuratkumar, and Gnanananda Swamigal. Together, we can create lasting impact and pave the way for a brighter future for all.</p>
        <a href="#" class="btns"><b>donate now</b></a>
        <a href="#" class="btne"><b>volunteer with us</b></a>          
    </div>
        <div class="texts">
            <h1>__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</h1>
        </div>
    <div class="fservice">
        <div class="flagship">
        <h4>FLAGSHIP SERVICES__________</h4>
        <h1>A Dignified Farewell: Cremation of Unclaimed Bodies</h1>
        <h3>“Embracing Souls, Fulfilling Sacred Duties”</h3>
        <p>In the sacred scriptures and the wisdom of spiritual luminaries, the act of cremating unclaimed bodies is considered profoundly significant. As inspired by the revered Kanchi Maha Periva's teachings in the book "Deivathin Kural," we hold the belief that this act is akin to performing an Ashwamedha Yaga, a noble and virtuous sacrificial ritual of ancient times.</p>
        </div>
    <div class="image">
        <img src="/static/assets/unsplash_g32g_IBprFA (2).png" alt="">
    </div>
    </div>
    <div class="para">
        <h1>Cremation - A Sacred Duty</h1>
        <p>In Deivathin Kural, Maha Periva highlights the immense spiritual value of performing the last rites for unclaimed souls. He emphasizes that this selfless act is not merely an act of kindness towards the deceased, but a profound expression of our humanity and sacred duty towards all beings. Embodying the teachings of Bhagavad Gita, we undertake this service without expecting anything in return, acknowledging that true selfless service brings immeasurable blessings and fulfillment.</p>
        <h1><i class="fa-solid fa-file-lines"></i>  Identification and Documentation:</h1>
        <p>Upon receiving notification of an unclaimed body, our organization verifies the identity of the deceased individual through available documents or records, collaborating with local authorities to ensure compliance with legal requirements. Our commitment to accuracy is essential as we strive to provide dignified last rites to those with no one to claim them.</p>
        <h1><i class="fa-solid fa-angles-right"></i>Respectful Transfer:</h1>
        <p>With a deep sense of reverence, our team ensures the dignified transfer of unclaimed bodies to our facilities. Throughout the process, the deceased is treated with the utmost dignity they deserve. We follow established protocols and are attentive to cultural or religious considerations.</p>
        <h1><i class="fa-solid fa-walkie-talkie"></i>Communication with Authorities:</h1>
        <p>Maintaining open communication with relevant authorities is paramount to our mission. From the moment we receive an unclaimed body, we keep the authorities informed about our procedures and progress. This collaborative approach ensures that we adhere to regulations while providing compassionate services.</p>
        <div class="get">
            <h4>GET INVOLVED_________</h4>
            <p>We believe that together, we can create a stronger, more caring community. In this section, explore ways you can get involved with Yugaas Tech. Whether through volunteering, making donations, or spreading awareness about our mission, your support can make a real difference in the lives of those we serve. Join us in our journey of compassion and transformation.</p>
        <div class="you">
           <h1>You can contribute to provide a place for children with special needs!</h1>
           <a href="#" class="btno"><b>Join as a volunteer</b></a>     <a href="#" class="btnn">donate</a>
        </div> 
        </div>
        </div>
        <div class="top">
            <h3>back to top<i class="fa-solid fa-arrow-up"></i></h3>
        </div>
<section class="footer">
    <div class="box-container">
        <div class="home">
            <h3>home</h3>
                <a href="#" class="links">about us</a>
                <a href="#" class="links">our services</a>
                <a href="#" class="links">get involved</a>
                <a href="#" class="links">causes</a>
        </div>
        <div class="more">
            <h3>more</h3>
                <a href="#" class="links">FAQ's</a>
                <a href="#" class="links">contact us</a>
                <a href="#" class="links">donate</a>
                <a href="#" class="links">blog</a>
        </div>
        <div class="connect">
            <h3>connect</h3>
                <a href="#" class="links">facebook</a>
                <a href="#" class="links">instagram</a>
                <a href="#" class="links">twitter</a>
                <a href="#" class="links">linkedin</a>
        </div>
        <div class="sub">
            <h1>subscribe to get latest updates</h1>
            <div class="payment">
                <form action="">
               <input type="email" placeholder="your email" class="email"><input type="submit" value="subscribe" class="btnne">
               </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>